tr img {
    height: 100px;
}

table {
    margin: 0px auto;
    text-align: center;
    border-collapse: collapse;
}

#haha {
    background-color: red;
    color: white;
}
 

tr:nth-child(even){
    background-color: gainsboro;
}

tr:hover { 
    background-color: yellow;
}

td {
    padding: 10px 10px;
}