<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" href="./navi.css">
</head>

<body>
    <div class="whole">
        <div class="menu">
            <ul class="navigation">
                <li>Home</li>
                <li>About</li>
                <li>Contact</li>
                <li>Blog</li>
            </ul>
        </div>
        <img id="firstIm" src="https://udemy-images.udemy.com/course/750x422/505208_2307_4.jpg" alt="firstImg">

        <div class="slike">
            <ul class="listImage">
                <li>Rebuilding slack.com</li>
                <hr>
                <li>Zasto bootcamp format</li>
                <hr>
                <li>React - prozor u svet web aplikacija</li>
                <hr>
                <li>Najvece zablude o programerima u Srbiji</li>
                <hr>

            </ul>

            <div>
                <img src="http://via.placeholder.com/300x200/ff0000" alt="image1">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt et cumque vitae, quaerat fugiat a. Repudiandae
                    ad dolore placeat voluptatibus deserunt consequuntur praesentium veniam laborum, reiciendis repellendus
                    pariatur harum quasi.</p>
            </div>

            <div>
                <img src="http://via.placeholder.com/300x200/ffbe00" alt="image1">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt et cumque vitae, quaerat fugiat a. Repudiandae
                    ad dolore placeat voluptatibus deserunt consequuntur praesentium veniam laborum, reiciendis repellendus
                    pariatur harum quasi.</p>
            </div>
            <div class="thirdImage">
                <img src="http://via.placeholder.com/300x200/009933" alt="image1">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt et cumque vitae, quaerat fugiat a. Repudiandae
                    ad dolore placeat voluptatibus deserunt consequuntur praesentium veniam laborum, reiciendis repellendus
                    pariatur harum quasi.</p>
            </div>
            <div>
                <img src="http://via.placeholder.com/300x200/ff0000" alt="image1">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt et cumque vitae, quaerat fugiat a. Repudiandae
                    ad dolore placeat voluptatibus deserunt consequuntur praesentium veniam laborum, reiciendis repellendus
                    pariatur harum quasi.</p>
            </div>
            <div>
                <img src="http://via.placeholder.com/300x200/ffbe00" alt="image1">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt et cumque vitae, quaerat fugiat a. Repudiandae
                    ad dolore placeat voluptatibus deserunt consequuntur praesentium veniam laborum, reiciendis repellendus
                    pariatur harum quasi.</p>
            </div>
            <div>
                <img src="http://via.placeholder.com/300x200/009933" alt="image1">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt et cumque vitae, quaerat fugiat a. Repudiandae
                    ad dolore placeat voluptatibus deserunt consequuntur praesentium veniam laborum, reiciendis repellendus
                    pariatur harum quasi.</p>
            </div>
            <div>
                <img src="http://via.placeholder.com/300x200/ff0000" alt="image1">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt et cumque vitae, quaerat fugiat a. Repudiandae
                    ad dolore placeat voluptatibus deserunt consequuntur praesentium veniam laborum, reiciendis repellendus
                    pariatur harum quasi.</p>
            </div>
            <div>
                <img src="http://via.placeholder.com/300x200/ffbe00" alt="image1">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt et cumque vitae, quaerat fugiat a. Repudiandae
                    ad dolore placeat voluptatibus deserunt consequuntur praesentium veniam laborum, reiciendis repellendus
                    pariatur harum quasi.</p>
            </div>
           
        </div>
        <div class="clear"></div>
    </div>

<div class="footer">
    <p>C BitStudent</p>
</div>
</body>

</html>